{
  "trailingComma": "es5",
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 120,
  "insertSpaceBeforeFunctionParenthesis": true,
  "bracketSpacing": true,
  "useTabs": false,
  "markdown": true,
  "space-in-parens": [
        1,
        "always"
  ]
}